.kvadrat {
    display: flex;
    justify-content: center;
    padding: 20px;
}



.shahmati table {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.shahmati td tr {
    height : 80px;
    width : 80px
}

.shahmati .tabel table, td, tr {
    border: 2px solid;
    border-color: black;
}